html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
a:visited {
    color: black;
}
ul {
    padding: 0;
}
ul li {
    list-style: none;
}
nav {
    height: 150px;
    width: 100%;
}
header {
    display: inline-block;
    margin: 35px 150px;
}
.line-logo {
    display: inline-block;
    width: 75px;
    height: 25px;
}
.main-menu {
    position: relative;
    padding: 45px 10px 45px 0;
    display: inline-block;
    color: black;
}
.main-menu:hover .sub-menu {
    visibility: visible;
}
.sub-menu {
    visibility: hidden;
    position: static;
    float: left;
    padding: 10px 20px 0 0;
}
.mission:hover .sub-sub-menu {
    visibility: visible;
}
.sub-sub-menu {
    position: static;
    visibility: hidden;
}
.container {
    width: 100%;
    height: 100%;
}
.bg-video {
    min-width: 100%;
    min-height: 100%;
}