html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    width: 1200px;
    height: auto;
}
a:visited {
    color: black;
}
a:link {
    color: black;
}
ul {
    padding: 0;
}
ul li {
    list-style: none;
}
nav {
    height: 150px;
    width: 100%;
}
header {
    display: inline-block;
    margin: 35px 150px;
    font-size: 1.2rem;
}
.logo-box {
    display: inline-block;
}
.line-logo {
    width: 75px;
    height: 25px;
}
.main-menu {
    position: relative;
    float: left;
    left: 250px;
    bottom: 30px;
    padding-right: 70px;
}
.main-menu:hover .sub-menu {
    display: block;
}
.sub-menu {
    display: none;
    position: absolute;
    float: left;
    padding-right: 20px;
    border: 1px solid deeppink;
    top: 50px;
}
/* .sub-sub-menu {
    position: absolute;
} */
/* .container {
    width: 100%;
    height: 100%;
} */
article {
    width: 100%;
    margin: 72px 152px;
    font-size: 1.2rem;
}
.newsroom {
    font-size: 2.2rem;
}
.both-article {
    border: 1px solid deeppink;
    display: inline-block;
    line-height: 3.5rem;
}
.left-article {
    border: 1px solid deeppink;
    display: inline-block;
    padding: 20px;
}
.right-article {
    border: 1px solid deeppink;
    display: inline-block;
    padding: 20px;
}
.more-article {

}
.bottom-article {
    border: 1px solid deeppink;
    display: inline-block;
}